


<EditForm Model="rolInsert" OnValidSubmit="guardar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="row">
        <label for="nombre">COD:</label>
        <InputText id="cod" class="form-control" @bind-Value="rolInsert.Cod"></InputText>
        <ValidationMessage For="@(()=> rolInsert.Cod)" />
    </div>
     <div class="row">
        <label for="nombre">Nombre:</label>
        <InputText id="nombre" class="form-control" @bind-Value="rolInsert.Nombre"></InputText>
        <ValidationMessage For="@(()=> rolInsert.Nombre)" />
    </div>
    @if (modo == "Modificar")
    {
        <div class="mb-3 row">

            <label for="url">Estado:</label>
            <div class="col-sm-8">
                <InputCheckbox id="estado" class="form-control" @bind-Value="@rolInsert.Estado"></InputCheckbox>
                <ValidationMessage For="@(()=> rolInsert.Estado)" />
            </div>

        </div>
    }

    <br />
    <div class="row">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>


</EditForm>

@code {

    [Parameter] public string modo { get; set; } = "crear";
    private DTOs.Rol.RolActualizarDTO rolInsert = new DTOs.Rol.RolActualizarDTO();

    private async Task guardar()
    {


        await Task.Delay(2000);

    }


}